@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Service> services = Service.GetServices();
    List<Site> sites = Site.GetSites();
}

@model Employee

<form asp-controller="Employee" asp-action="SubmitUpdateForm" method="post">
    <div class="form-group">
        <label for="Prenom">Prenom</label>
        <input type="text" class="form-control" id="Prenom" name="FirstName" value="@Model.FirstName" readonly />
    </div>
    <div class="form-group">
        <label for="Nom">Nom</label>
        <input type="text" class="form-control" id="Nom" name="Lastname" value="@Model.Lastname" readonly />
    </div>
    <div class="form-group">
        <label for="Telephone">Telephone</label>
        <input type="number" class="form-control" id="Telephone" name="PhoneNumber" value="@Model.PhoneNumber" required maxlength="10" max="0699999999">
    </div>
    <div class="form-group">
        <label for="Site">Site :</label>
        <select class="form-control" id="Site" name="IdSite" required>
            <option value="@Model.IdSite" disabled>@Model.Site</option>
            @foreach (Site site in sites)
            {
                if (@site.Id != Model.IdSite)
                {
                    <option value="@site.Id">@site.City</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Site">Service :</label>
        <select class="form-control" id="Service" name="IdService" required>
            <option value="@Model.IdService" disabled>@Model.Service</option>
            @foreach (Service service in services)
            {
                if (@service.Id != Model.IdService)
                {
                    <option value="@service.Id">@service.ServiceName</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Mail">Email address</label>
        <input type="email" class="form-control" id="Mail" value="@Model.Mail" name="Mail" required maxlength="50">
    </div>
    <div class="form-group">
        <label for="CellphoneNumber">Téléphone Fixe</label>
        <input type="number" class="form-control" id="CellphoneNumber" value="@Model.CellphoneNumber" name="CellphoneNumber" required maxlength="10" max="0399999999">
    </div>
    <button type="submit" class="btn col p-1 mb-3 btn-secondary">Valider</button>
    <button type="button" class="btn col btn-secondary">
        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="">Retour</a>
    </button>
</form>