@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@model List<Employee>

<h1>Liste des Employés <a asp-controller="Employee" asp-action="FormEmployee"> <i class="fas fa-plus"></i> </a> </h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Site</th>
            <th scope="col">Service</th>
            <th scope="col">Mail</th>
            <th scope="col">Teléphone Fixe</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Employee employee in Model)
        {
            <tr>
                <td>
                    @employee.FirstName
                </td>
                <td>
                    @employee.Lastname
                </td>
                <td>
                    @employee.PhoneNumber
                </td>
                <td>
                    @employee.Site
                </td>
                <td>
                    @employee.Service
                </td>
                <td>
                    @employee.Mail
                </td>
                <td>
                    @employee.CellphoneNumber
                </td>
                <td>
                    <a asp-controller="Employee" asp-action="DisplayEmployee" asp-route-id="@employee.Id">Modifier</a>
                </td>
                <td>
                    <a asp-controller="Employee" asp-action="DeleteEmployee" asp-route-id="@employee.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
